
html{
    display: flex;
}

@media (min-width: 877px) { 
   
    #main-image-web{
        padding-top: 20%;
        margin-top:-2em;
        min-width: 100vmax;
        max-height:30vmax;
    }
    
    .laptop-nav {
       padding-inline-start: 55%;
     display:flex;
     margin:auto;
    }
    
    .laptop-nav-items {
       display:inline-block;
       font-size: 18.0pt;
       list-style-type: none;
       padding-right:15px;
    
    }

    .navbar-toggler{
        display:none;
    }


    /*Carousel on the main page*/
    .carousel {
        margin-top:-4em;    
        position:relative;
        max-width: 100vmax;
    }
        
    
    /*This is a static image on the main page*/
    .main-page-web{
        margin-top:-3em;
        width: 100vw;
        height:100vh;
    }

    .main-page-mobile {
        display: none;
    }

 }


 @media only screen and
  (min-device-width: 320px) and (max-device-width:876px){
 
  
   .laptop-nav{
      display: none !important;
      
      }  

/*Carousel on the main page*/
  .carousel {
        margin-top:-3em;
        position: relative;
        
    }
   

 /*This is a static image on the main page*/

    .main-page-web{
        display:none;
    }
    .main-page-mobile {
        margin-top:-3em;
        min-width: 100vmin;
        max-height:40vmax;
       
    }

    .Welcome {
        display:flex;
    }

   .Welcome-title {
        font-family: 'Cookie', cursive;
        font-size:38.0pt;
        margin-top:0.5em;
        color:#343f51;
        text-align: center;
    } 
 /*
    .Welcome-image{
        max-width:80vmax;
        height:150px;
        margin: 0 auto;
        z-index:-1;
        opacity:0.8;
        margin-top:15%;
       
    }
    */

}



nav{
    position: fixed;
    top:0;
    width:100vw;
    z-index:99;
 }


body {
    background-color:#e9eb8f;
}




